html, body, #root {
    height: 100%;
    margin: 0;
}
#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

@font-face {
  font-family: 'TextSF';
  src:  url('./fonts/space_age.ttf') format('truetype');
}
@font-face {
  font-family: 'Pixel';
  src:  url('./fonts/Pixel-LCD-7.woff') format('woff');
}

@font-face {
  font-family: "Barcode";
  src: url("./fonts/LibreBarcode128Text-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("./fonts/RobotoCondensed-Bold.ttf");
  font-weight: 400;
  font-style: normal;
}