html {
    width: 100%;
    overflow: hidden scroll;
    position: relative;
}
body {
    background: black;
    height: 100%;
}
#root {
    background: pink;
}
@font-face {
  font-family: 'TextSF';
  src:  url('./fonts/space_age.ttf') format('truetype');
}
@font-face {
  font-family: 'Pixel';
  src:  url('./fonts/Pixel-LCD-7.woff') format('woff');
}

@font-face {
  font-family: "Barcode";
  src: url("./fonts/LibreBarcode128Text-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "RobotoCondensed-Bold";
  src: url("./fonts/RobotoCondensed-Bold.ttf");
  font-weight: 400;
  font-style: normal;
}